@import'../stayl.scss';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth !important;
}

$main-color: #042d53;
$alt-color: #1363ac;
$light-color: #fff;
$a-f: #2fb994;
$b-f: #e17f36;
$b-shadwo: 0 3px 6px rgb(0 0 0 / 16%);

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: $main-color;
}
h6 {
  font-family: "Roboto", sans-serif;
  color: $b-f;
}
span{

  a{
    cursor: pointer;
  }
}


.container-signup{
  position: relative;
  img{
    position: absolute;
  animation: up  5s linear infinite ; 
  transition: all 0.5s ease-in-out;
 }
}
/*start animation*/
@keyframes up {
  0%
  ,100%{
    top:0 ;
  }
  50%{
top: -50px;
  }
}
/*end animation*/

form {
  label {
    padding: 9px 0px;
    font-family: "Roboto", sans-serif;
  }
  .Confirm {
    margin: 13px 0px;
  }
}
.otherSocial{
    position: relative;
    color: #042d53;
    &::before{
        top: 17px;
        left: -74px;
        width: 70px;
        height: 1px;
        background-color: #e17f36;
        position: absolute;
        content: "";
        }
        &::after{
            top: 17px;
            left: 115px;
            width: 70px;
            height: 1px;
            background-color: #e17f36;
            position: absolute;
            content: "";
            }
    

}

@media screen and (max-width:991px) {

  .container-signup{
    display: none;
  }
  
}